.Editor {
  display: flex;
  position: relative;


  .preview {
    flex: 1;
    background: #fafcfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }

  .live-preview{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .details-design-toggle{
      height: 60px;
      width: 60px;
      background: #1b91f0;
      border-radius: 500px;
      position: fixed;
      bottom: 25px;
      right: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color:white;
      font-size: 20px;
      cursor: pointer;
  }

  .page {
    margin-bottom: 50px;
    width: 6.2in;
    height: 8.7in;
    background: white;
    border: solid 1px #e1e2e4;
    padding: 50px;
  }
}

.experience-title {
  margin-bottom: 30px;
}

.experience-tab {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #e1e2e4;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: capitalize;

  i {
    font-size: 20px;
    cursor: pointer;
    color: #323232;
  }

  &:nth-child(4) {
    border-top: solid 1px #e1e2e4;
  }
}

.checkbox-wrap{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;

  span{
    margin-left: 6px;
  }
}

.notification {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  background: #fad7ba;
  color: #60300a;
  text-align: center;
  border-radius: 8px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 2;
  transform: translateX(150%);
  animation: slide-in 0.3s forwards;

  @keyframes slide-in {
    from {
      transform: translateX(150%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
}
