.menu-container{
    position: relative;
  }

  .edit-delete-menu{
    background:white;
    border: solid 1px rgb(196, 196, 196);
    position: absolute;
    right: 0;
    width: 120px;
    padding-left: 12px;
  }