.TipCard {
 
  height:auto;
  width: 100%;
  margin-bottom: 20px;
  background: #fefae8;
  border-radius: 10px;
  border: solid 1px #ffe988;
  padding:20px;

  h4{
    margin-bottom: 6px;
    color: #d1ab00;
    font-size: 14px;
  }
  
  p{
      font-size: 13px;
  }
}
